.formContainer {
  width: 75% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 0.5rem !important;
  

  .form {
    flex-grow: 1 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
