.boxHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;

  .boxContainerHeader {
    box-sizing: inherit;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 !important;
    background-color: #333 !important;
    color: #fff;

    .containerHeader {  
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: flex-start !important;

      .typoH3 {
        color: #fff !important;
      }

      .gridContainer {
        color: #ffffff !important;
        margin-top: 0.5rem !important;
        justify-content: flex-start !important;
        width: 100% !important;

        .gridItemContainer {
          display: flex !important;
          justify-content: center !important;
          align-items: flex-start !important;
          flex-direction: column !important;
          text-align: left !important;

          .linkUsername {
            text-decoration: none;
            color: white !important;
            font-weight: 500;
          }
          .linkUsername:hover {
            text-decoration: underline;
            color: white !important;
            font-weight: 700;
          }
          .typoDate {
            opacity: 0.8 !important;
            color: #bbb !important;
          }
        }
      }
    }
  }
  .containerFooter {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 30px;
    padding: 24px;
    margin: 0;
    .boxFooter {
      width: 100%;
      border-bottom: 1px solid grey;
      .boxTagList {
        padding:  2rem 0 !important;
      }
    }
  }
}


.button {
  text-transform: none !important;
  margin-right: 3px !important;
}

.buttonContainer {
  display: "flex";
  flex-direction: "row";
  justify-content: "center";
  align-items: "center";
  gap: ".2rem";
}
